a{text-decoration: none;}
@font-face {
    font-family: 'script';
    src: url('Fonts/ShoppingScriptDemo.ttf');
    font-weight: normal;
    font-style: normal;

    font-family: 'josefin';
    src: url('Fonts/Josefin-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
.header{
	text-align: center;
	width: 400px;
    height: 30px;
    margin: auto;
}
.nav{ 
	color: black;
	font-family: 'josefin';
    color: black;
     width: 10%;
     font-size: 22px;
    display: inline-block;
    padding: 0px 25px;
}
.laptop-img{
	max-width: 1300px;
	width: 100%;
	/*margin: auto;*/
}
.images{
	width: 100%;
}
.aboutContainer{
	font-family: 'josefin';
	text-align: center;
	font-size: 18px;
	margin-left: 100px;
    margin-right: 100px;
}
.contactInfo{
	text-align: center;
	width: 500px;
    height: 10px;
    margin: auto;
}
.icons{
	display: inline-block;
    padding: 0px 8px;
    width: 25px;
	height: 25px;
	margin-bottom: 25px;
}
#homepage{
	
}